.wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.button {
    background-color: rgba(0, 0, 0, 0);
    color: #3643ff;
    font-size: 20px;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover {
        color: #202de6;
    }

    &:active {
        color: #202de6;
    }
}
