.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

.modal-content h2 {
    color: #333;
    margin-bottom: 10px;
}

.modal-content p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 8px;
}

.modal-content p strong {
    color: #000;
}
